
  @media only screen and (min-width: 1920px) { 

    .section_one .container{
        min-width: 1200px;
        width: auto;
        height: auto;
    }
    .section_two .container{
        max-width: 1200px;
        width: auto;
        height: auto;
    }

    .sec_2_card_main{
        position: relative;
    }

    .section_three .container{
        max-width: 1200px;
        width: auto;
        height: auto;
    }
    .section_four .container{
        max-width: 1200px;
        width: auto;
        height: auto;
    }
    .section_five .container{
        max-width: 1200px;
        width: auto;
        height: auto;
    }
    .section_six .container{
        max-width: 1200px;
        width: auto;
        height: auto;
    }
    .section_seven .container{
        max-width: 1200px;
        width: auto;
        height: auto;
    }
  }

  @media only screen and (max-width: 1920px) { 

    .section_one .container{
        padding-top: 50px;
        min-height: 600px;
        width: auto;
        height: auto;
    }
    .section_two .container{
        min-height: 200px;
        width: auto;
        height: auto;
    }

    .section_three .container{
        min-height: 600px;
        width: auto;
        height: auto;
    }
    .section_four .container{
        min-height: 600px;
        width: auto;
        height: auto;
    }
    .section_five .container{
        min-height: 600px;
        width: auto;
        height: auto;
    }
    .section_six .container{
        min-height: 600px;
        width: auto;
        height: auto;
    }
    .section_seven .container{
        min-height: 600px;
        width: auto;
        height: auto;
    }
  }


  @media only screen and (min-width: 768px) { 

    .section_one{
        padding: 50px 0px;
    }

    .section_two{
        padding: 150px 0px;
    }

    .section_three{
        padding: 150px 0px;
    }

    .section_four{
        padding: 150px 0px;
    }

    .section_five{
        padding: 150px 0px;
    }

    .section_six{
        padding: 150px 0px;
    }

    .section_seven{
        padding: 150px 0px;
    }

    .section_eight{
        padding: 150px 0px;
    }

    .sec1_main{
        height: 100%;
    }

    .sec1_main .nav{
        position: relative;
        top: -60px;
        left: 8px;
    }

    .sec_1_title{
        letter-spacing: 8px;
    }

    .sec_1_subtitle{
        padding: 2px 0px 10px 0px;
    }

    .sec_1_desc{
        letter-spacing: 1px;
    }
    
      /* sec2 */

/*       .section_two .container .para1{
          font-size: 26px;
          padding-bottom: 15px;
        }
        
        .sec_2_card {
            padding: 30px 0px;
        } */

        /* sec3 */

/*         .section_three{
            margin-left: 50px;
        } */

        .section_three .sec3_child2 .title1 .fw-blod .title1{
            word-break: keep-all;
        }

        .sec3_card{
            padding: 50px 30px;
        }

        .sec3_card .title-wrap{
            padding-left: 20px;
        }

        .sec3_card .title2{
            font-size: 25px;
        }

        .sec3_card .para2{
            font-size: 20px;
            letter-spacing: -1px;
            font-weight: 300;
            line-height: 25px;
        }

        .sec3_cimg {
            margin-right: 10px;
        }

        .sec3_child2 .title1{
            font-size: 60px;
            line-height: 75px;
        }

        .sec3_child2 .para2{
            font-weight: 400;
            font-size: 26px;
            letter-spacing: -2px;
            margin-top: 20px;
        }

        /* sec4 */

/*         .section_four{
            margin-left: 50px;
        } */

        .sec4_child1 .title1{
            font-size: 58px;
            line-height: 75px;
            letter-spacing: -2px;
        }

        .sec4_child1 .para2{
            font-weight: 400;
            font-size: 26px;
            letter-spacing: -1px;
            line-height: 30px;
            margin-top: 25px;
            color: rgb(76, 76, 76);
        }

        .sec4_group{
            margin-right: 20px;
        }
        

        .sec4_card .title2{
            font-size: 25px;
            letter-spacing: -1px;
        }

        .sec4_card .para2{
            font-size: 20px;
            letter-spacing: -1px;
            font-weight: 300;
            line-height: 30px;
        }

        /* sec5 */

/*         .section_five{
            margin-left: 50px;
        } */

        .sec5_main{
            width: 100%;
            height: 100%;
        }

        .sec5_main .sec5_child{
            height: 500px;
        }

        .sec5_main .sec5_child .sec5_card2_title{
            color: white;
        }

        .sec5_main .sec5_child .title2{
            font-size: 20px
        }

        .sec5_main .sec5_child .para2{
            font-size: 20px
        }

        .sec5_main .sec5_child .sec5_left_card_footer_text{
            font-size: 15px;
            letter-spacing: -1px;
            padding-top: 10px;
        }

/*         .sec_5_grid_child{
            display: flex;
            align-items: center;
            text-align: start;
        } */

        .sec_5_grid_child{
            display: flex;
            align-items: center;
        }

        .sec_5_grid_child .title1{
            font-size: 60px;
        }

        .sec_5_grid_child .para2{
            font-size: 26px;
            letter-spacing: -1px;
            font-weight: 400;
            margin-top: 15px;

        }

     /* sec6 */

     .sec6_title{
        font-size: 35px;
    }

    .sec6_child .title1{
        font-size: 60px;
        line-height: 80px;
    }

    .sec6_child .para11{
        font-size: 26px;
        letter-spacing: -2px;
        margin-top: 23px;
        font-weight: 400;
    }

    .sec6_child .para1{
        padding-left: 15px;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: -1px;


    }

    .sec6_child .sec5_card_logo_con{
        width: 70px;
        height: 70px;
    }

    .sec6_child .sec5_card_logo_con img{
        width: 35px;
        height: 35px;  
    }


    /* sec7 */

    .text-white .sec7_title{
        font-size: 40px;
        font-weight: 200;
    }

    .sec7_child .sec7_title1{
        font-size: 55px;
        line-height: 80px;
        font-weight: 200;
        letter-spacing: -1px;
    }

    .sec7_child .para1{
        font-size: 26px;
    }

     /* sec8 */

    .sec8_child .sec-8-text{
        position: relative;
        top: 30px;
        line-height: 10px;
    }

    .sec8_child .sec_8_title{
        line-height: 70px;
        font-size: 60px;
        letter-spacing: 6px;
    }
    .sec8_child .sec_8_title1{
        font-size: 60px;
    }
    .sec8_child .sec_8_subtitle{
        font-size: 60px;
        padding-bottom: 60px;
        letter-spacing: 2p1;
    }
    
    .btnArea02{
        width: 600px;
        z-index: 1;
    }

    .btnArea02 img{
        width: 180px;
    }

    .sec8_ringImg{
        position: absolute;
        left: -540px;
        top: 350px;
        width: 600px;
        z-index: 10;
    }

    .sec8_innerDiv{
        width: 560px;
        height: 620px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .sec8_innerDiv .sec8_desc{
        font-size: 20px;
        padding: 10px 0px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: -1px;
    }

  }


  @media only screen and (max-width: 991px) {
    .top-bar-show .nav{
        min-width: 1000px;
        height: auto;
        margin: 0 auto;
        padding: 0px 110px;
    }
    
    .top-bar-show .nav .logo_img{
        width: 110px;
        height: auto;
    }

    .sec8_child2 .mobile_screen-se{
        display: none;
    }

    .title{
        white-space: nowrap;
    }

    .title1{
        white-space: nowrap;
    }

    .title2{
        white-space: nowrap;
    }

      .spaceY {
          padding: 55px 0px;
      }

      .section_one .container{
        max-width: 768px;
      }

/*       .nav {
        width: 100%;
      }
    
      .nav .logo_img{
          position: relative;
          top: 10px;	
          width: 112px;
      } */

      .nav {
        position: relative;
        top: 10px;	
        width: 100%;

    }

     .nav .logo_img{
        width: 112px;
        height: auto;

    }

      .sec1_img{
        width: 500px;
        position: relative;
        top: 30px;
        left: 100px;
    }
    
    .logoText {
        color: #3C217A;
        font-weight: 600;
        font-size: 22px;
        padding-top: 20px;
    }
    
    .sec_1_left {
        display: grid;
        align-items: center;
        justify-content: center;
        height: 500px;
    }
    
    .sec_1_title {
        font-size: 45px;
        font-weight: 300;
        margin-top: 30px;
        letter-spacing: 10px;
        color: var(--main-color);
    }
    
    .sec_1_subtitle {
        font-size: 50px;
        font-weight: 600;
        line-height: 65px;
        color: var(--main-color);
    }
    
    .sec_1_desc {
        color: #532daa;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: -2px;
    }

      .btnArea01{
        margin-top: 30px;
    }
    
    .btnArea01 img {
        height: 40px;
        width: 106px;
    }

    .nav2{
        width: 100px;
        position: relative;
        top: -140px;
        left: 170px;
    }

    .Hlogo_img{
        max-width: 55px;
        height: auto;
    }


      .section_two{
        padding-top: 100px;
      }

      .section_two .container .title1{
        font-size: 35px;
        line-height: 55px;
      }

      .section_two .container .para1{
        font-size: 15px;
        padding-bottom: 15px;
      }
      
      .sec_2_card>div {
          padding: 20px 0px;
      }

      .sec_2_card .para2{
        font-size: 13px;
        line-height: 30px;
      }

      .sec_2_card .fw-bold{
        font-size: 15px;
        letter-spacing: -1px;
      }

      .sec3_main {
          grid-template-columns: 1fr;
          padding-bottom: 30px;
      }

      .sec3_main .sec3_child2 .title1{
        word-break: keep-all;
        letter-spacing: -1px;
    }

      .sec3_card {
          padding: 25px 20px;
      }

      .sec3_main>div:nth-of-type(1) {
          order: 2;
      }

      .sec3_main>div:nth-of-type(2) {
          order: 1;
      }

      .sec3_card:nth-of-type(2) {
          position: static;
          left: 0px;
      }

      .sec3_card .title2{
        font-size: 15px;
        letter-spacing: -1px;
    }

      .sec3_card .para2{
        font-size: 13px;
        letter-spacing: -1px;
        font-weight: 400;
        line-height: 17px;
    }

      .sec3_cimg {
          width: 68px;
          height: 80px;
      }

      .sec3_child2 .title1{
        font-size: 35px;
        line-height: 45px;
        letter-spacing: -1px;

    }

    .sec3_child2 .para2{
        font-weight: 400;
        font-size: 15px;
        letter-spacing: -1px;
        margin-top: 10px;
    }

      /* section4 start */
      .sec4_main {
          grid-template-columns: 1fr;
          padding-bottom: 30px;
      }

      .sec4_card:nth-of-type(2) {
          position: static;
          right: 0px;
      }

      .sec4_card {
          padding: 30px 20px;
      }

      .sec4_card .title2{
        font-size: 15px;
        letter-spacing: -1px;
    }

      .sec4_card .para2{
        font-size: 13px;
        letter-spacing: -1px;
        font-weight: 400;
        line-height: 17px;
    }

      .sec4_cimg {
          width: 68px;
          height: 80px;
      }

      .sec4_child1 .title1{
        font-size: 35px;
        line-height: 45px;
        letter-spacing: -1px;

    }

    .sec4_child1 .para2{
        font-weight: 400;
        font-size: 15px;
        letter-spacing: -1px;
        margin-top: 10px;
    }

      .sec4_child1 {
          justify-content: center;
      }

      /* section4 end */

      /* section5 start */
      .sec_5_grid {
          grid-template-columns: 1fr;
      }

      .sec_5_grid_child:nth-of-type(2) {
          order: 1;
      }

      .sec_5_grid_child:nth-of-type(1) {
          order: 2;
      }

      .sec5_left_card_footer_text {
          font-size: 10px;
      }
      
      .sec5_main{
        padding-bottom: 40px;
      }

      .sec5_child {
          padding: 15px;
      }

      .sec_5_grid_child{
        display: flex;
        justify-content: center;
      }

      .sec_5_grid_child .title1{
        margin: 0 auto;
        font-size: 35px;
      }

      .sec_5_grid_child .para2{
        font-weight: 400;
        font-size: 15px;
        margin-top: 15px;
        word-break: keep-all;
      }

      /* section5 end */

      /* section6 start */
      .sec6_main {
          grid-template-columns: 1fr;
          padding-bottom: 20px;
      }

      .sec6_logo_main {
          justify-content: center;
          display: flex;
          gap: 0px 20px;
          margin-bottom: 20px;
          margin-left: 0px;
      }

      .sec6_title{
        font-size: 20px;
      }

      .sec6_child{
        width: 90%;
        margin: 0 auto;
      }

      .sec6_child2 {
        position: relative;
        left: 20px;
    }
      
    .sec6_child .title1{
        font-size: 35px;
        line-height: 50px;
    }

    .sec6_child .para11{
        font-size: 15px;
        margin-top: 20px;
        font-weight: 400;
    }

      .sec6_child1 {
          justify-content: center;
      }

      .sec6_child .sec5_logo_con{
        width: 40px;
        height: 40px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      }

      .sec6_child .sec5_logo_con img{
        width: 30px;
        height: 30px;
      }

      .sec6_child .sec5_card_logo_con{
        margin-left: 30px;
        width: 60px;
        height: 60px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .sec6_child .sec5_card_logo_con img{
        width: 35px;
        height: 35px;  
    }

    .sec6_child .para1{
        font-size: 13px;
        font-weight: 400;
        letter-spacing: -1px;
        margin-left: 35px;
    }

    .sec6_child .sec6_right_logo_card{
        right: 10px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }


      /* section6 end */

      /* section7 start */

      .sec7_main {
          grid-template-columns: 1fr;
          margin-top: 20px;
      }

      .sec7_child {
          text-align: center;
      }

      .sec7_leftImg {
          width: 60%;
          margin-left: 0px;
      }

      .sec7_child1 {
          order: 2;
      }

      .sec7_child2 {
          order: 1;
      }

      .sec7_child2 .sec7_title {
          font-size: 25px;
          line-height: 40px;
          white-space: nowrap;
      }

      .sec7_child2 .sec7_title1 {
        font-size: 35px;
        font-weight: 300;
        line-height: 60px;
      }

      .sec7_child2 .para1{
          font-size: 20px;
      }

      /* section7 end */

      /* section8 start */
      .sec8_child1 {
          justify-content: center;
      }

      .sec8_main {
          grid-template-columns: 1fr;
      }

      .sec8_child .sec_8_title{
        margin-top: 50px;
        position: relative;
        top: -37px;
        font-size: 40px;
        letter-spacing: 4px;
      }

      .sec8_child .sec_8_title1{
        position: relative;
        top: -50px;
        font-size: 40px;
      }

      .sec8_child .sec_8_subtitle{
        position: relative;
        top: -50px;
        font-size: 40px;
        line-height: 40px;
        letter-spacing: 1px;
      }

      .sec8_child2 .pc_screen-se{
        display: flex;
        justify-content: center;
      }

      .btnArea02{
        display: none;
      }

      .sec8_ringImg {
          position: absolute;
          top: -100px;
          width: 250px;
          left: calc(55% - 24px);
      }

      .sec8_innerDiv{
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        margin: 0 auto;
    }

    .sec8_innerDiv .sec8_desc{
        width: 100%;
        font-weight: 500;
        word-break: keep-all;
    }

      /* section8 end */

  }

  @media only screen and (max-width: 768px) {
    .top-bar-show .nav{
        min-width: 0px;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    
    .top-bar-show .nav .logo_img{
        width: 100px;
        height: auto;
    }

      .btnArea02 {
          display: none;
      }

      .pc_screen {
          display: none;
      }

      .mobile_screen {
          display: block;
          width: 100%;
      }

      .mobile_screen-se {
        display: none;
    }

      .title1 {
          font-size: 28px;
      }

      .title2 {
          font-size: 17px;
      }

      .sec7_child2 .para1 {
          font-size: 15px;
          white-space: nowrap;
      }

      .para2 {
          font-size: 15px;
      }



      /* section1 start */

      .nav {
          width: 100px;
          text-align: center;
          padding: 12px 0px 30px 0px;
          margin: 0 auto;
      }

      .nav .logo_img{
        max-width: 100%;
        height: 31px;
        margin: 0 auto;
      }

      .sec_1_left {
          text-align: center;
          display: block;
          height: auto;
          padding-bottom: 30px;
      }

      .sec1_img {
          width: 90%;
          position: relative;
          top: 10px;
          left: 0px;
      }

      .sec_1_title {
          font-size: 45px;
          letter-spacing: 4px;
          padding-left: 5px;
      }

      .sec_1_subtitle {
          font-size: 45px;
          line-height: 60px;
      }

      .sec_1_desc {
          margin: 10px 0px;
          font-size: 17px;
          letter-spacing: -1px;
          line-height: 25px;
          font-weight: 500;
      }

      /* section1 end */

      /* section2 start */
      .section_two .container .title1{
        font-size: 35px;
        letter-spacing: -2px;
        line-height: 45px;
        white-space: nowrap;
      }

      .section_two .container .title1 .fw-bold{
        font-size: 35px;
      }

      .section_two .container .para1{
        margin-bottom: 5px;
      }

      .sec2_card_img {
          width: 70px;
          height: 70px;
          padding-top: 15px;
          padding-left: 10px;
      }

      .sec_2_card_main {
          grid-template-columns: 1fr;
      }

      .sec_2_card>div {
          display: flex;
          gap: 20px;
          padding: 20px 0px;
          letter-spacing: -1px;
      }

      .sec_2_card {
          text-align: start;
      }

      .sec_2_card .para2{
        position: relative;
        top: -10px;
        font-size: 13px;
        line-height: 25px;
      }
      .sec_2_card .para2 .fw-bold{
        font-size: 15px;
      }

      /* section2 end */

      /* section3 start */
      .sec3_card {
          gap: 20px;
      }

      /* section3 end */

      /* section5 start */
      .sec5_child2 {
          background-size: contain;
      }

      /* section5 end */
      .sec5_card_logo_con {
          top: 50%;
          transform: translateY(-50%);
      }

      .sec8_child .sec_8_title {
        margin-top: 50px;
        position: relative;
        top: -47px;
    }

      
      .sec8_main {
        grid-template-columns: 1fr;
    }

    .sec8_ringImg {
        top: -85px;
        width: 200px;
        left: calc(55% - 45px);
    }

    .sec8_innerDiv .sec8_desc{
        width: 100%;
        font-size: 100%;
        font-weight: 500;
        line-height: 23px;
        word-break: keep-all;
    }

    footer{
      padding-bottom: 80px;
    }

  }


  @media only screen and (max-width: 400px) {
      .sec3_card {
          gap: 15px;
      }
  }

  @media only screen and (max-width: 350px) {
      .para2 {
          font-size: 12px;
      }

      .sec5_left_card_footer_text {
          font-size: 8px;
          word-break: keep-all;
      }

      .sec8_desc-m{
        font-size: 85%;
        letter-spacing: -1px;
        word-break: keep-all;
      }
  }

  @media(max-width:600px){
    .top-bar-show .nav .logo_img{
        width: 100px;
        height: 35px;
    }
  }

  @media(max-width:400px){
    .top-bar-show{
        width: 100%;
        height: 60px;

    }

    .top-bar-show .nav{
        min-width: 0px;
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 0px 0px;
    }
    
    .top-bar-show .nav .logo_img{
        width: 100px;
        height: 35px;
    }

    .nav {
        position: relative;
        top: 10px;	
        width: 100%;
        margin: 0 auto;
    }

    .nav .logo_img{
        width: 100px;
        height: 31px;
        margin: 0 auto;
    }

    .sec6_child2 {
        position: relative;
        left: 15px;
        width: 85%;
        margin: 0 auto;
    }

    .sec6_child .sec5_card_logo_con {
        margin-left: 30px;
        width: 40px;
        height: 40px;
        box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    }

    .sec6_child .sec5_card_logo_con img {
        width: 25px;
        height: 25px;
    }

    .pc_screen-se {
        display: none;
    }

    .mobile_screen-se {
        display: block;
        width: 100%;
    }

    footer {
        padding-top: 50px;
        padding-bottom: 70px;
        background: #333;
        font-size: 1em;
        line-height: 1.5;
        color: rgba(255, 255, 255, 0.5);
    }

    footer p {
        text-align: left;
        line-height: 30px;
        padding-left: 30px;

    }
    
    footer ul {
        padding: 10px 0px;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 15px;
        line-height: 25px;
    }
    
    footer ul li {
        display: inline;
        margin-right: 15px;
    }
    
    footer ul li a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.5);
    }
    
    footer ul li a:hover {
        color: rgba(255, 255, 255, 0.5);
    }
   }

   @media(max-width:300px){
    .nav {
        position: relative;
        top: 10px;	
        width: 100%;
        margin: 0 auto;
    }

    .nav .logo_img{
        width: 100px;
        height: 31px;
        margin: 0 auto;
    }
}

   @media(min-width:401px) and (max-width:700px){
    .nav {
        position: relative;
        top: 10px;	
        width: 100px;
        margin: 0 auto;
    }

    .nav .logo_img{
        width: 100%;
        height: 31px;
        margin: 0 auto;
    }
   }


  /* responsive end */