
  @media only screen and (min-width: 1920px) { 

    .section_one .container{
        min-width: 1200px;
        width: auto;
        height: auto;
    }
    .section_two .container{
        max-width: 1200px;
        width: auto;
        height: auto;
    }

    .sec_2_card_main{
        position: relative;
        left: 100px;
    }

    .section_three .container{
        max-width: 1200px;
        width: auto;
        height: auto;
    }
    .section_four .container{
        max-width: 1200px;
        width: auto;
        height: auto;
    }
    .section_five .container{
        max-width: 1200px;
        width: auto;
        height: auto;
    }
    .section_six .container{
        max-width: 1200px;
        width: auto;
        height: auto;
    }
    .section_seven .container{
        max-width: 1200px;
        width: auto;
        height: auto;
    }
  }

  @media only screen and (max-width: 1920px) { 

    .section_one .container{
        min-height: 600px;
        width: auto;
        height: auto;
    }
    .section_two .container{
        min-height: 600px;
        width: auto;
        height: auto;
    }

    .section_three .container{
        min-height: 600px;
        width: auto;
        height: auto;
    }
    .section_four .container{
        min-height: 600px;
        width: auto;
        height: auto;
    }
    .section_five .container{
        min-height: 600px;
        width: auto;
        height: auto;
    }
    .section_six .container{
        min-height: 600px;
        width: auto;
        height: auto;
    }
    .section_seven .container{
        min-height: 600px;
        width: auto;
        height: auto;
    }
  }


  @media only screen and (min-width: 768px) { 

    .section_one{
        padding: 50px 0px;
    }

    .section_two{
        padding: 150px 0px;
    }

    .section_three{
        padding: 150px 0px;
    }

    .section_four{
        padding: 150px 0px;
    }

    .section_five{
        padding: 150px 0px;
    }

    .section_six{
        padding: 150px 0px;
    }

    .section_seven{
        padding: 150px 0px;
    }

    .section_eight{
        padding: 150px 0px;
    }


    .sec1_main{
        height: 100%;
    }
    
      /* sec2 */

      .section_two .container .para1{
          padding-bottom: 15px;
        }
        
        .sec_2_card_main {
            width: 850px;
            margin-left: 50px;
        }

        /* sec3 */

        .section_three{
            margin-left: 50px;
        }

        .section_three .sec3_child2 .title1 .fw-blod .title1{
            word-break: keep-all;
        }

        .sec3_card{
            width: 450px;
        }

        .sec3_card .title2{
            font-size: 20px;
            letter-spacing: -1px;
        }

        .sec3_card .para2{
            font-size: 18px;
            letter-spacing: -1px;
            font-weight: 300;
            line-height: 25px;
        }

        .sec3_cimg {
            margin-right: 10px;
        }

        .sec3_child2 .title1{
            font-size: 45px;
            line-height: 60px;
        }
        .sec3_child2 .para2{
            font-weight: 400;
            font-size: 15px;
            letter-spacing: -1px;
            margin-top: 20px;
        }

        /* sec4 */

        .section_four{
            margin-left: 50px;
        }

        .sec4_child1 .title1{
            font-size: 45px;
            line-height: 60px;
            letter-spacing: -2px;
        }

        .sec4_child1 .para2{
            font-weight: 400;
            font-size: 15px;
            letter-spacing: -1px;
            line-height: 20px;
            margin-top: 20px;
        }

        .sec4_group{
            margin-right: 20px;
        }
        
        .sec4_card{
            width: 450px;
        }

        .sec4_card .title2{
            font-size: 20px;
            letter-spacing: -1px;
        }

        .sec4_card .para2{
            font-size: 18px;
            letter-spacing: -1px;
            font-weight: 300;
            line-height: 22px;
        }

        /* sec5 */

        .section_five{
            margin-left: 200px;
        }

        .sec5_main .sec5_child{
            height: 470px;
        }

        .sec5_main .sec5_child .sec5_card2_title{
            color: white;
        }

        .sec5_main .sec5_child .title2{
            font-size: 20px
        }

        .sec5_main .sec5_child .para2{
            font-size: 18px
        }

        .sec5_main .sec5_child .sec5_left_card_footer_text{
            font-size: 15px;
            letter-spacing: -1px;
        }

        .sec_5_grid_child{
            display: flex;
            align-items: center;
            text-align: start;
        }

        .sec_5_grid_child .title1{
            font-size: 45px;

        }

        .sec_5_grid_child .para2{
            font-size: 15px;
            letter-spacing: -1px;
            font-weight: 400;
            margin-top: 15px;

        }

     /* sec6 */

    .sec6_child .title1{
        font-size: 45px;
    }

    .sec6_child .para11{
        font-size: 15px;
        letter-spacing: -1px;
        margin-top: 23px;
        font-weight: 400;
    }

    .sec6_child .para1{
        font-size: 18px;
        font-weight: 400;
        letter-spacing: -1px;
        width: 400px;

    }

    .sec6_child .sec5_card_logo_con{
        margin-left: 10px;
        width: 50px;
        height: 50px;
    }

    .sec6_child .sec5_card_logo_con img{
        width: 35px;
        height: 35px;  
    }


    /* sec7 */

    .sec7_main .sec7_child img{
        width: 300px;
        margin-left: 70px;
    }

    .sec7_child .sec6_title{
        font-size: 30px;
    }

    .sec7_child .sec7_title{
        font-size: 40px;
        line-height: 50px;
    }

    .sec7_child .para1{
        font-size: 15px;
    }

     /* sec8 */

    .sec8_child .sec-8-text{
        line-height: 10px;
    }

    .sec8_child .sec_1_title{
        line-height: 70px;
    }
    
    .btnArea02{
        top: -100px;
        width: 500px;
    }

    .btnArea02 img{
        width: 150px;
    }

    .sec8_ringImg{
        position: absolute;
        left: -370px;
        top: 290px;
        width: 400px;
    }

    .sec8_innerDiv{
        width: 420px;
        height: 500px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .sec8_innerDiv .sec8_desc{
        font-size: 15px;
        padding: 10px 0px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: -1px;
    }

  }


  @media only screen and (max-width: 991px) {
      .spaceY {
          padding: 55px 0px;
      }

      .section_two{
        padding-top: 100px;
      }

      .sec3_main {
          grid-template-columns: 1fr;
          padding-bottom: 30px;
      }

      .sec3_main .sec3_child2 .title1{
        word-break: keep-all;
        letter-spacing: -1px;
    }

      .sec3_card {
          padding: 25px 20px;
      }

      .sec3_main>div:nth-of-type(1) {
          order: 2;
      }

      .sec3_main>div:nth-of-type(2) {
          order: 1;
      }

      .sec3_card:nth-of-type(2) {
          position: static;
          left: 0px;
      }

      .sec3_card .title2{
        font-size: 15px;
        letter-spacing: -1px;
    }

      .sec3_card .para2{
        font-size: 13px;
        letter-spacing: -1px;
        font-weight: 400;
        line-height: 17px;
    }

      .sec3_cimg {
          width: 68px;
          height: 80px;
      }

      .sec3_child2 .title1{
        font-size: 35px;
        line-height: 45px;
        letter-spacing: -1px;

    }

    .sec3_child2 .para2{
        font-weight: 400;
        font-size: 15px;
        letter-spacing: -1px;
        margin-top: 10px;
    }

      /* section4 start */
      .sec4_main {
          grid-template-columns: 1fr;
          padding-bottom: 30px;
      }

      .sec4_card:nth-of-type(2) {
          position: static;
          right: 0px;
      }

      .sec4_card {
          padding: 30px 20px;
      }

      .sec4_card .title2{
        font-size: 15px;
        letter-spacing: -1px;
    }

      .sec4_card .para2{
        font-size: 13px;
        letter-spacing: -1px;
        font-weight: 400;
        line-height: 17px;
    }

      .sec4_cimg {
          width: 68px;
          height: 80px;
      }

      .sec4_child1 .title1{
        font-size: 35px;
        line-height: 45px;
        letter-spacing: -1px;

    }

    .sec4_child1 .para2{
        font-weight: 400;
        font-size: 15px;
        letter-spacing: -1px;
        margin-top: 10px;
    }

      .sec4_child1 {
          justify-content: center;
      }

      /* section4 end */

      /* section5 start */
      .sec_5_grid {
          grid-template-columns: 1fr;
      }

      .sec_5_grid_child:nth-of-type(2) {
          order: 1;
      }

      .sec_5_grid_child:nth-of-type(1) {
          order: 2;
      }

      .sec5_left_card_footer_text {
          font-size: 10px;
      }
      
      .sec5_main{
        padding-bottom: 40px;
      }

      .sec5_child {
          padding: 15px;
      }

      .sec_5_grid_child .title1{
        display: flex;
        justify-content: center;
        font-size: 35px;
      }

      .sec_5_grid_child .title1 .fw-bold{
        margin-left: 5px;
        letter-spacing: -1px;
      }
      .sec_5_grid_child .para2{
        font-weight: 400;
      }

      /* section5 end */

      /* section6 start */
      .sec6_main {
          grid-template-columns: 1fr;
          padding-bottom: 20px;
      }

      .sec6_logo_main {
          justify-content: center;
          display: flex;
          gap: 0px 20px;
          margin-bottom: 20px;
          margin-left: 0px;
      }

      .sec6_title{
        font-size: 20px;
      }

      .sec6_child{
        padding-right: 10px;
      }
      
    .sec6_child .title1{
        font-size: 35px;
        line-height: 50px;
    }

    .sec6_child .para11{
        font-size: 15px;
        margin-top: 20px;
        font-weight: 400;
    }

      .sec6_child1 {
          justify-content: center;
      }

      .sec6_child .sec5_logo_con{
        width: 40px;
        height: 40px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      }

      .sec6_child .sec5_logo_con img{
        width: 30px;
        height: 30px;
      }

      .sec6_child .sec5_card_logo_con{
        margin-left: 10px;
        width: 50px;
        height: 50px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .sec6_child .sec5_card_logo_con img{
        width: 35px;
        height: 35px;  
    }

    .sec6_child .para1{
        font-size: 13px;
        font-weight: 400;
        letter-spacing: -1px;
        width: 270px;

    }

    .sec6_child .sec6_right_logo_card{
        right: 10px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }


      /* section6 end */

      /* section7 start */

      .sec7_main {
          grid-template-columns: 1fr;
          margin-top: 20px;
      }

      .sec7_child {
          text-align: center;
      }

      .sec7_leftImg {
          width: 60%;
      }

      .sec7_child1 {
          order: 2;
      }

      .sec7_child2 {
          order: 1;
      }

      .sec7_title {
          font-size: 28px;
          line-height: 40px;
      }

      /* section7 end */

      /* section8 start */
      .sec8_child1 {
          justify-content: center;
      }

      .sec8_main {
          grid-template-columns: 1fr;
          padding-top: 80px;
      }

      .sec8_child .sec_8_title{
        position: relative;
        top: -50px;
        font-size: 40px;
        letter-spacing: 10px;
      }

      .sec8_child .sec_8_title1{
        position: relative;
        top: -50px;
        font-size: 40px;
      }

      .sec8_child .sec_8_subtitle{
        position: relative;
        top: -50px;
        font-size: 40px;
        line-height: 40px;
      }

      .sec8_ringImg {
          position: absolute;
          right: -20px;
          top: -100px;
          width: 250px;
          bottom: auto;
          left: auto;
      }

      .sec8_innerDiv{
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .sec8_innerDiv .sec8_desc{
        width: 100%;
        font-size: 100%;
        font-weight: 500;
        line-height: 23px;
        word-break: keep-all;
    }

      /* section8 end */

  }

  @media only screen and (max-width: 768px) {
      .btnArea02 {
          display: none;
      }

      .pc_screen {
          display: none;
      }

      .mobile_screen {
          display: block;
          width: 100%;
      }

      .title1 {
          font-size: 28px;
      }

      .title2 {
          font-size: 17px;
      }

      .para1 {
          font-size: 15px;
      }

      .para2 {
          font-size: 15px;
      }


      /* section1 start */

      .nav {
          width: 100%;
          text-align: center;
          padding: 12px 0px 30px 0px;
      }

      .nav .logo_img{
        max-width: 25%;
        height: auto;
        margin: 0 auto;
      }

      .sec_1_left {
          text-align: center;
          display: block;
          height: auto;
          padding-bottom: 30px;
      }

      .sec1_img {
          width: 90%;
          position: relative;
          top: 10px;
      }

      .sec_1_title {
          font-size: 45px;
          letter-spacing: -1;
      }

      .sec_1_subtitle {
          font-size: 45px;
          line-height: 60px;
      }

      .sec_1_desc {
          margin: 10px 0px;
          font-size: 17px;
          letter-spacing: -1px;
          line-height: 25px;
          font-weight: 500;
      }

      /* section1 end */

      /* section2 start */
      .section_two .container .title1{
        font-size: 35px;
        letter-spacing: -2px;
        line-height: 45px;
      }

      .section_two .container .title1 .fw-bold{
        font-size: 35px;
      }

      .section_two .container .para1{
        margin-bottom: 5px;
      }

      .sec2_card_img {
          width: 70px;
          height: 70px;
          padding-top: 15px;
          padding-left: 10px;
      }

      .sec_2_card_main {
          grid-template-columns: 1fr;
      }

      .sec_2_card>div {
          display: flex;
          gap: 20px;
      }

      .sec_2_card {
          text-align: start;
      }

      .sec_2_card .para2{
        position: relative;
        top: -10px;
        font-size: 13px;
      }
      .sec_2_card .para2 .fw-bold{
        font-size: 15px;
      }

      /* section2 end */

      /* section3 start */
      .sec3_card {
          gap: 20px;
      }

      /* section3 end */

      /* section5 start */
      .sec5_child2 {
          background-size: contain;
      }

      /* section5 end */
      .sec5_card_logo_con {
          top: 50%;
          transform: translateY(-50%);
      }

      footer{
        padding-bottom: 80px;
      }

  }


  @media only screen and (max-width: 400px) {
      .sec3_card {
          gap: 15px;
      }
  }

  @media only screen and (max-width: 350px) {
      .para2 {
          font-size: 12px;
      }

      .sec5_left_card_footer_text {
          font-size: 8px;
      }
  }


  /* responsive end */