.pc_screen {
    width: 100%;
}

.mobile_screen {
    display: none;
}

/* section_1 start */
.section_one {
    position: relative;
    background-image: url(/src/assets/images/section_one_pc_bg.png);
    min-height: 750px;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.mobile_section_one{
    position: relative;
    background-image: url(/src/assets/images/section_one_mobile_bg.png);
    min-height: auto;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.section_one .container{
    min-width: 1000px;
    padding-top: 100px;
}

.nav {
    width: 120px;
}

.nav .logo_img{
    position: relative;
    top: 10px;	
    max-width: 100%;
    height: auto;
}

.logoText {
    color: #3C217A;
    font-weight: 600;
    font-size: 22px;
    padding-top: 20px;
}

.sec_1_left {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.sec_1_title {
    font-size: 70px;
    font-weight: 300;
    margin-top: 30px;
    color: var(--main-color);
}

.sec_1_subtitle {
    font-size: 70px;
    font-weight: 600;
    line-height: 90px;
    color: var(--main-color);
}

.sec_1_desc {
    color: #532daa;
    font-weight: 500;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: -2px;
}

.btnArea01{
    margin-top: 30px;
}

.btnArea01 img {
    margin-right: 15px;
    height: 45px;
    width: 150px;
}

.sec1_main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sec1_img{
    width: 600px;
    position: relative;
    top: -30px;
}

.nav2{
    width: 100px;
    position: relative;
    top: -140px;
    left: 250px;
}

.Hlogo_img{
    max-width: 65px;
    height: auto;
}

/* section_1 end */


/* section_2 start */

.section_two .container{
    max-width: 1000px;
    width: auto;
    height: auto;
}

.section_two .container .title1{
    font-size: 60px;
    line-height: 80px;
}


.section_two .container .para1{
    font-weight: 400;
    letter-spacing: -1px;
}

.sec_2_card_main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    justify-content: space-around;
}

.sec_2_card {
    text-align: center;
    border-radius: 20px;
    transition: all 0.3s;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.sec_2_card .para2{
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: 20px;
}

.sec_2_card .fw-bold{
    font-size: 25px;
    font-weight: 700;
    letter-spacing: -1px;
}

.sec_2_card:hover {
    box-shadow: 0px 0px 10px -3px grey;
}

.sec2_card_img {
    width: 130px;
    height: 150px;
    object-fit: contain;
}

/* section_2 end */

/* section_3 start */

.section_three .container{
    max-width: 1000px;
}

.sec3_main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.sec3_card {
    display: flex;
    align-items: center;
    padding: 40px 20px 40px;
    border-radius: 20px;
    transition: all 0.3s;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.sec3_card:hover {
    box-shadow: 0px 0px 10px -3px grey;
}

.sec3_card:nth-of-type(2) {
    position: relative;
    left: 60px;
}

.sec3_child2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec3_cimg {
    width: 90px;
    height: 104px;
    object-fit: contain;
}

/* section_3 end */

/* section_4 start */
.section_four .container{
    max-width: 1000px;
}

.sec4_main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.sec4_card {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 40px 20px 40px;
    border-radius: 20px;
    transition: all 0.3s;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.sec4_card:hover {
    box-shadow: 0px 0px 10px -3px grey;
}

.sec4_card:nth-of-type(2) {
    position: relative;
    right: 60px;
}

.sec4_child1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sec4_cimg {
    width: 90px;
    height: 104px;
    object-fit: contain;
}

/* section_4 end */

/* section_5 start */
.section_five .container{
    max-width: 1000px;
}

.sec_5_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    height: 100%;
}

.sec5_main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.sec5_left_card_footer_text {
    font-size: 18px;
}

.sec5_child1 {
    padding: 10px 40px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.sec5_child {
    cursor: pointer;
    border-radius: 20px;
    padding: 20px 15px;
}

.sec5_child:hover {
    box-shadow: 0px 0px 10px -3px grey;
}

.sec5_card2_title {
    background: #C8C4F8;
    color: white;
    border-radius: 20px;
    width: fit-content;
    padding: 3px 10px;
}

.sec5_child2 {
    background-color: #F4F3FF;
    background-image: url(../images/sec5_right_card_bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px 15px;
}

/* section_5 end */

/* section6 start */
.section_six .container{
    max-width: 1000px;
}

.sec6_main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.sec6_title {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: -1px;
}

.sec5_logo_con {
    width: 70px;
    height: 70px;
    display: grid;
    place-items: center;
    box-shadow: 0px 0px 10px -5px grey;
    border-radius: 50%;
    background: #fff;
}

.sec5_logo_con img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.sec6_logo_main {
    display: flex;
    gap: 0px 60px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.sec6_right_logo_card {
    box-shadow: 0px 0px 10px -5px grey;
    border-radius: 15px;
    padding: 20px 20px;
    position: relative;
    margin-top: 20px;
    margin-left: 50px;
}

.sec5_card_logo_con {
    top: 10px;
    width: 60px;
    height: 60px;
    display: grid;
    place-items: center;
    box-shadow: 0px 0px 10px -5px grey;
    border-radius: 50%;
    position: absolute;
    left: -50px;
    background: #fff;
}

.sec5_card_logo_con img {
    width: 43px;
    height: 43px;
    object-fit: contain;
}

.sec6_child1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* section6 end */

/* section7 start */
.section_seven {
    background-image: url(../images/sec_7_bg.png);
    min-height: 768px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.mobile_section_seven{
    position: relative;
    background-image: url(../images/sec_7_m.png);
    min-height: auto;
    width: 100%;
    background-size: cover;
}

.section_seven .container{
    max-width: 1000px;
}

.sec7_main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.sec7_title {
    font-size: 50px;
    font-weight: 300;
}

.sec7_child2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* section7 end */

/* section8 start */
.section_eight {
    position: relative;
    background-color: #DFDDFD;
}

.section_eight .container{
    max-width: 1000px;
}

.sec8_main {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.sec_8_title{
    font-size: 50px;
    font-weight: 300;
    color: #3C217A;
    letter-spacing: 4px;
}

.sec_8_title1{
    font-size: 50px;
    font-weight: 300;
    color: #3C217A;
}

.sec_8_subtitle{
    font-size: 50px;
    font-weight: bold;
    color: #3C217A;
}

.btnArea02 {
    margin-top: 40px;
}

.btnArea02 .btn_1{
    width: 175px;
    height: 54px;
    background: red;
    z-index: 1;
}

.btnArea02 img {
    margin-right: 15px;
    z-index: 10;
}

.sec8_innerDiv {
    background-image: url(../images/sec8_right_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px;
    border-radius: 20px;
}

.sec8_desc{
    font-size: 18px;
    font-weight: 300;
}

.sec8_child1{
    display: flex;
    align-items: center;
    z-index: 1;
}

.sec8_child2{
    position: relative;
    z-index: 0;
}

/* section8 end */

.quick_box {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #3C217A;
    padding: 20px;
    text-align: center;
    z-index: 1;
}

.quick_box img {
    width: 100%;
}
.mobile_bottom_link{
    position: relative;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    width: 100%;
    z-index: 1;
}

.mobile_bottom_link:hover{
    color: #fff;
}

footer {
    padding: 30px 0;
    background: #333;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.5);
}

footer ul {
    padding-left: 0;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 15px;
}

footer ul li {
    display: inline;
    margin-right: 15px;
}

footer ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

footer ul li a:hover {
    color: rgba(255, 255, 255, 0.5);
}

.quick_box{
    position: fixed;
    bottom: 0;
    left: 0;
}

.quick_box img{
    position: relative;
    top: -10px;
    width: 220px;
}

.quick_box .Hlogo_img{
    position: relative;
    left: 12px;
    width: 30px;
}
