* {
  margin: 0;
  padding: 0;
  outline: 0;
}

.pc_img {
  width: 100%;
}

.mobile_img {
  display: none;
}

/* responsive start */
@media only screen and (max-width: 768px) {
  .pc_img {
    display: none;
  }

  .mobile_img {
    display: block;
    width: 100%;
  }
}

/* responsive end */