@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  width: 100%;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12px;
  color: #333;
}

:root {
  --main-color:rgb(60,33,122);
}

.text_violet{
  color: var(--main-color) !important;
}

.title1{
  font-size: 60px;
  font-weight: 300;
  text-align: center;
}

.para1{
  font-size: 20px;
  font-weight: 300;
}

.para2{
  font-size: 24px;
  font-weight: 300;
}